.block {
	height: 150px;
	border: 1px solid #CCC;
	background: #eee;
	box-sizing: border-box;
}

.spacer {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 80%;
	border: 1px solid black;
	background: #FFF;
}

input::placeholder{
	color: red;
}